$main-color-y: #FFB119;
$main-color-d: #000000;
$main-color-g: #777777;
$main-color-dg: #323232;
$main-color-dw: #F9F9F9;
$main-color-w: #ffffff;

$st-color-g: #2BC128;
$st-color-r: #FB2407;
$st-color-y: #FFB119;

$sh-color: #FFFFFF;

// $drop-shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
//     0 3px 10px 0 rgba(0, 0, 0, 0.19);

$drop-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
// $main-font: poppins
$sub-header: 22px;
$text-medium: 18px;
$text-sm: 14px;
$body-backgroud: #F5F5F5;
$medium-radius: 25px;
$small-radius: 7px;